<h2>Créer mon compte</h2>
<div class="mb-2">
    <form [formGroup]="registerForm" (ngSubmit)="createAccount()">
        <div class="form-group mb-2">
            <label for="lastname">Nom : </label>
            <input id="lastname" type="text" formControlName="lastname">
            <span class="txt-danger" *ngIf="registerForm.get('lastname')?.errors?.['required'] && registerForm.get('lastname')?.touched">Ce champs est requis</span>
        </div>

        <div class="form-group mb-2">
            <label for="firstname">Prénom :</label>
            <input id="firstname" type="text" formControlName="firstname" >
            <span class="txt-danger" *ngIf="registerForm.get('firstname')?.errors?.['required'] && registerForm.get('firstname')?.touched">Ce champs est requis</span>
        </div>

        <div class="form-group mb-2">
            <label for="email">Email :</label>
            <input id="email" type="email" formControlName="email">
            <span class="txt-danger" *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">Ce champs est requis</span>
            <span class="txt-danger" *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.dirty && registerForm.get('email')?.touched">Vous devez entrer un email valide</span>
        </div>

        <div class="form-group mb-2">
            <label for="pwd">Mot de passe :</label>
            <input id="pwd" type="password" formControlName="password">
            <span class="txt-danger" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">Ce champs est requis</span>
            <span class="txt-danger" *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched && registerForm.get('password')?.dirty">Le mot de passe doit faire au moins 8 caractères et contenir une majuscule, une minuscule et un chiffre</span>
        </div>

        <!-- TODO : Pour un formulaire plus opti, mettre en place un deuxième imput confirm password + validateur custom pour vérifier que les deux sont similaires -->

        <button type="submit">Créer mon compte</button>
    </form>
</div>
<div>
    <a routerLink="/login">Déjà un compte ? Cliquez ici pour vous connecter</a>
</div>